@page "/listadoTareas"

@using BlazorApp1.Data
@inject ListadoTareaService Service

<h3>Listado De Tareas</h3>

<p>A continuación, el listado de tareas</p>

@if (tarea == null)
{
    <p><em>Cargando...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titulo</th>
                <th>Vencimiento</th>
                <th>Estimacion</th>
                <th>Responsable</th>
                <th>Estado</th>
                <th>Tipo</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var p in tarea)
            {
            <tr>
                <td>@p.Id</td>
                <td>@p.Titulo</td>
                <td>@p.Vencimiento</td>
                <td>@p.Estimacion</td>
                <td>@p.responsableId</td>
                <td>@p.Estado</td>
                <td>@p.tipoTareaId</td>
            </tr>
            }
        </tbody>
    </table>
}

@code {
    private Tarea[] tarea;

    protected override async Task OnInitializedAsync()
    {
        tarea = Service.GetListadoTareaAsync();
    }
}